*                                        @garcia-bj
/backend/                                @Mau6987 @garcia-bj
/frontend/src/features/availability/     @JhonLegionn
/frontend/src/features/booking/          @JhonLegionn
/frontend/src/features/dashboard/        @JhonLegionn
/frontend/src/features/appointments/     @guadacanedo210721
/frontend/src/components/ui/             @JhonLegionn @guadacanedo210721
